nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
}
nav li{
    margin: 0;
    position: relative;
}
nav a{
    text-decoration: none;
    padding: 10px;
    color: black;
    display: block;
    width: 200px;
    text-align: center;
}
nav a:hover{
    background-color: rgb(155, 45, 228);
}
.submenu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(190, 154, 224);
    text-align: center;
}
.mostrar-submenu:hover .submenu{
    display: block;
    text-align: center;
}
nav li{
    margin: 0;
    position: relative;
}
#box{
    background-color: rgb(214, 110, 235);
    margin: 100px;
    padding: 50px;
    border: 10px solid #2f005c;
    border-radius: 50px;
    box-shadow: 5px 10px 10px 0 #8d2cc5;
}
#box1{
    background-color: cadetblue;
}
#titulo {
    color: rgb(0, 0, 0);
}
.titulo{
    color: rgb(255, 81, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 100px;
    text-transform: uppercase; /*lowercase es para minusculas*/
    text-align: center;
    font-weight: 200; /*grosor de la letra*/
    font-style: oblique;
    text-shadow: 5px 10px 10px #eeff02;
}
img{
    float: right;
}
